<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <base href="<%= htmlWebpackPlugin.options.baseUrl %>" />
  </head>
  <body>
    <header>
      <h1>
        <a href="#/"><img height="60" src="assets/images/logo.png" alt="True Music Cyprus"><span>True Music Cyprus</span></a>
      </h1>
      <nav id="navigation-genres">
        <ul class="navigation">
          <%=
            Object.keys(htmlWebpackPlugin.options.data.genres).reduce(
              (m, genreKey) => {
                return `
                  ${m}
                  <li class="navigation-item" data-navigate-to="${genreKey}">
                    <a href="#/${genreKey}">${htmlWebpackPlugin.options.data.genres[genreKey].props.name}</a>
                  </li>
                `
              }
            , '')
          %>
        </ul>
      </nav>
    </header>
    <main id="main">
      <div id="page-home">
        <p>
          We are taking a stand for True Music and that
          means exclusively supporting the artists that create
          from a place of true passion.

          This map showcases True Music artists' place on the
          local scene here on the island.

          It will be updated regularly so keep coming back!
        </p>

        <p>Stay True and Tuned people...</p>
      </div>
      <div id="page-venn"><div id="venn"></div></div>
      <div id="page-artist"></div>
    </main>
    <footer id="main-footer">
      <p>Copyright &copy; 2019</p>
      <p><small><%= process.env.APP_VERSION %></small></p>
    </footer>
  </body>
</html>
