<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <base href="<%=webpackConfig.output.publicPath%>" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="copyright" content="2020 ABR">
    <meta name="author" content="rudasn">
    <meta name="source" content="github.com/afrobanana">
    <link rel="icon" href="<%=webpackConfig.output.publicPath%>favicon.ico">
    <meta http-equiv="cleartype" content="on">
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%=webpackConfig.output.publicPath%>">
    <meta property="og:image" content="<%=webpackConfig.output.publicPath%>assets/images/shared.jpg">
    <meta property="og:image:height" content="128">
    <meta property="og:image:width" content="136">
    <meta property="og:description" content="We're standing up for True Music">
    <meta name="description" content="We're standing up for True Music">
  </head>
  <body>
    <header>
      <h1>
        <a href="#/"><img height="120" src="<%=webpackConfig.output.publicPath%>assets/images/logo.png" alt="Ballantine's True Music Cyprus"><span>Ballantine's True Music Cyprus</span></a>
      </h1>
      <nav id="navigation-genres">
        <ul class="navigation">
          <%=
            Object.keys(htmlWebpackPlugin.options.data.genres).reduce(
              (m, genreKey) => {
                return `
                  ${m}
                  <li class="navigation-item" data-navigate-to="${genreKey}">
                    <a href="#/${genreKey}">${htmlWebpackPlugin.options.data.genres[genreKey].props.name}</a>
                  </li>
                `
              }
            , '')
          %>
        </ul>
      </nav>
    </header>
    <main id="main">
      <div id="page-home">
        <div id="home-intro--long">
          <p>Ballantine’s is committed to making<br/> authentic connections and bringing people together.</p>

          <p>One way this is done is by taking a stand for True Music, and that means exclusively supporting the artists that create from a place of true passion.</p>

          <p>Ballantine’s True Music Cyprus is all about delving into the alternative dance music culture on the island, with the simple mission to uncover, celebrate and showcase the most genuine music scenes and stories currently making waves here in Cyprus.
          We are supporting True Music artists through Showcase Events, through active conversations where they tell their stories and talk about their passion and now through this map.</p>

          <p>This map showcases True Music artists’ place on the local scene.
          It will be updated regularly so keep coming back!</p>
        </div>
        <div id="home-intro--short">
          <p>
            Ballantine’s is taking a stand for True Music, and
            that means exclusively supporting the artists that create from a place of true passion. This map showcases True Music artists’ place on the local scene here on the island. It will be updated regularly so keep coming back!
          </p>

          <p>Stay True and Tuned people...</p>
        </div>
      </div>
      <div id="page-venn"><div id="venn"></div></div>
      <div id="page-genre"></div>
      <div id="page-artist"></div>
    </main>
    <footer id="main-footer">
      <div id="copyright">
        <p>Copyright &copy; <%= (new Date()).getUTCFullYear() %></p>
        <p><small><%= process.env.APP_VERSION %></small></p>
      </div>
      <div id="social-links">
        <a href="https://www.facebook.com/BallantinesCyprus" target="_blank"><img src="<%=webpackConfig.output.publicPath%>assets/images/fb.jpg" alt="fb"/></a>
        <a href="https://www.instagram.com/ballantines_cyp/" target="_blank"><img src="<%=webpackConfig.output.publicPath%>assets/images/ig.jpg" alt="ig"/></a>
      </div>
    </footer>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162532452-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-162532452-1');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '247486566535537');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=247486566535537&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
  </body>
</html>
