@font-face {
  font-family: 'Interstate';
  src: url('assets/fonts/interstate-light.otf') format("opentype");
}
@font-face {
  font-family: 'Interstate Bold';
  src: url('assets/fonts/interstate-black.otf') format("opentype");
}
@font-face {
  font-family: 'Interstate Regular';
  src: url('assets/fonts/interstate-regular.otf') format("opentype");
}
body,html {
  height: 100%;
}
body {
  background-color: #1d1918;
  padding: 0;
  margin: 0;

  font-family: Interstate;
  font-size: 1.3em;

  &:not([data-route-route="genre-artist"]) {
    background: #1d1918 url("assets/images/bg.png") no-repeat 0 0 ;
    background-attachment: fixed;
    background-size: cover;
  }

  &[data-route-exiting] {
    text.label {
      display: none;
    }
  }
}
header {

  h1 {
    position: fixed;
    z-index: 2;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    a {
      padding: 16px;
      display: block;
      span {
        display: none;
      }
    }
  }
}
footer#main-footer {
  font-family: Arial, sans-serif;
  position: fixed;
  bottom: 0;
  font-size: 11px;
  text-align: center;
  color: #eee;
  p {
    margin: 2px 0;
  }
}
#navigation-genres {
  position: fixed;
  right: 0;
  top: 0;
  padding: 16px;
  z-index: 3;
  display: none;

  &.is-loaded {
    display: block;
  }
  &::before {
    content: ' ';
    display: block;
    width: 50px;
    height: 50px;
    background: url("assets/images/menu-icon.png");
    background-size: contain;
    position: absolute;
    right: 16px;
    cursor: pointer;
  }

  &.is-hidden {
    &::before {
      background-color: none;
      content: ' ';
    }
    .navigation {
      display: none;
    }
  }

  .navigation {
    background-color: #fff;
    list-style: none;
    margin: 60px 0 0;
    padding: 1em 0;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    display: block;
  }

  .navigation-item {
    font-family: 'Interstate Regular';
    font-size: 1.3em;

    a {
      padding: 0.2em 3em;
      display: block;
      color: inherit;
      text-decoration: none;
    }
  }
}
#main {
  position: relative;
  top: 100px;
}
#page-venn {
  position: relative;
  height: 70%;
  display: none;
}
#venn {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -60px;
  left: 0;
  overflow: hidden;
}
#page-home {
  color: #fff;
  max-width: 940px;
  text-align: center;
  line-height: 1.4;
  font-size: 1.3em;
  display: none;
  margin: 0 auto 32px;
  padding: 0 32px;
  overflow: hidden;
  // height: 0;
  // transition: all 500ms;
}

#home-intro--long {
  display: none;
}
#home-intro--short {}


[data-route-path="/"] #page-home {
  // height: 400px;
  margin: 32px auto;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  [data-route-path="/"] #page-home {
    // height: 400px;
    // margin: 32px auto;
  }

  body:not([data-route-route="genre"]) #page-venn {
    height: 100%;
  }
  #home-intro--long {
    display: block;
  }
  #home-intro--short {
    display: none;
  }
}

#page-artist {
  display: none;
}
#page-genre {
  display: none;
}
.venntooltip {
  position: absolute;
  text-align: center;
  width: 128px;
  background: #333;
  color: #ddd;
  padding: 5px;
  border: 0px;
  border-radius: 8px;
  opacity: 0;
  box-sizing: border-box;
}
.venn-circle {
  cursor: pointer;
  &.active {
    cursor: default;

    text.label {
      font-size: 3vw;
      font-weight: bold;
    }
  }
}
.venn-circle path {
  fill: #000 !important;
  fill-opacity: 1 !important;
  stroke-opacity: 0.8;
  stroke-width: 10px;
}
text.label {
  fill: #fff !important;
  tspan {
    transition: all 800ms;
  }
}
div[data-venn-text] {
  color: #eee;
  text-align: center;
  position: absolute;
  overflow: hidden;
  transition: all 100ms;
  display: none;
  top: 50%;
  left: 50%;
  width: 0;
  opacity: 0;
  transform: translate(-50%, -50%);
  &.active {
    opacity: 1;
    transform: none;
  }

  h1 {
    margin-top: 0;
    text-transform: uppercase;
    font-family: 'Interstate Regular';
    font-size: 3em;
  }
}

.genre-details,
.artist-details {
  padding: 20px;
  color: #fff;
  line-height: 1.65;
  main {
    width: 550px;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    h1 {
      font-family: Interstate Regular;
      font-size: 4em;
      line-height: 1;
      text-transform: uppercase;
      margin-top: 0;
    }
    hr {
      margin: 60px 0;
      border: none;
      border-top-width: 1px;
      border-top-style: solid;
    }
  }
  strong {
    font-family: Interstate Regular;
    font-size: 1.25em;
    letter-spacing: 1px;
  }
  a {
    color: #fff;
  }
  img {
    width: 280px;
    max-width: 100%;
    margin: 0 auto;
  }
}

.artist-details--genres,
.artist-details--paging {
  list-style: none;
  padding: 0;
  text-align: center;
}
.artist-details--paging-item,
.artist-details--genres-item {
  display: inline-block;
  margin: 0 16px 0;
  text-transform: uppercase;
}

.artist-details--genres {
  margin: 1em auto;
  font-family: Interstate Regular;
  font-size: 1.3em;
  line-height: 1;
}
.artist-details--genres-item {
  &.is-active {
    background-color: rgba(255,255,255,0.6);
  }
  a {
    font-weight: bold;
    text-decoration: none;
    color: #000;
  }

}
.artist-details--paging {
  margin: 3em auto;
}
.artist-details--paging-item {
  a {
    text-decoration: none;
    color: #fff;
    &:focus {
      outline: 1px solid;
    }
  }
}

.paging-item {
  position: relative;
  a {
    display: block;
    padding: 25px 45px ;
  }
  .paging-item--arrow {
    display: block;
    text-indent: -100em;
    overflow: hidden;
    background-repeat: no-repeat;
    width: 50px;
    height: 80px;

    position: absolute;

    top: 0;
  }
  &.paging-item--next {
    .paging-item--arrow {
      float: left;
    }
  }
  &.paging-item--previous {
    .paging-item--arrow {
      float: right;
    }
  }
}
.paging-item--previous {}

.genre-details {
  footer {
    text-align: center;
  }
}
.genre-artists {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-gap: 20px;
  list-style:none;
  margin: 60px auto;
  width: 80%;
  padding: 0;
}
.genre-artists--title {
  font-size: 1.7em;
}
.genre-artists--artist {
  > a {
    color: #fff;
    display: block;
    text-decoration: none;
  }
  // * {
  //   display: none;
  // }
  h1 {
    margin: 0 !important;
    color: #fff !important;
  }
  // h1,
  // p:nth-of-type(1) {
  //   display: block;
  //   margin: 0;
  //   img {
  //     display: block;
  //   }
  // }
}
